<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (tasks.length > 0) {%>
            <table class="table table-hovered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                        <th scope="col">Action</th>
                       
                    </tr>
                </thead>
                <tbody>
                    
                        <% tasks.forEach(function(item) { %>
                        <tr>
                            <!-- <th scope="row"><%= item.Id %></th> -->
                            <td><%- item.Id %></td>
                            <td><%- item.Title %></td>
                            <td><%- item.Description %></td>
                            <td><%- item.Date %></td>
                            <td>
                                <a href="/Edit?Id=<%= item.Id %>"   class="btn btn-sm btn-success">Edit</a>
                                <a href="/delete?Id=<%= item.Id %>"  onClick="return confirm('Are you Sure ?')" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p class="text-center">No players found. Go <a href="/add" >here</a> to add players.</p>
        <% } %>
    </div>
</div>
</body>
</html>
